html {
  height: display;
  width: display;
  margin: auto;
}

body{
  background-color: rgb(80, 46, 3);
  height:100%;
}
main{
  display:flex;
  height:100%;
}

.BookCellar{
  background-color: rgb(80, 46, 3);
  height:100%;
}

.siteHead{
    position: sticky;
    top:0;
    padding: 10px top 15px;
    color:rgb(233, 181, 49);
    display: flex;
}

.siteName{
  display: inline-block;
  color:rgb(255, 255, 255);
  background-color: rgb(233, 181, 49);
  text-align: left;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  flex: 4;
  padding: 1rem;
  border-radius: 10px;
  width: 300px;
}

.userLogin {
  flex: 1;
  border-left: 2px rgb(129, 100, 25);
}
.userLogin button{
  display: block;
  cursor: pointer;
  background-color: rgb(233, 181, 49);
  color: rgb(255, 255, 255);
  border-bottom: rgb(129, 100, 25);
  width: 100%;
  flex: 4;
  padding: 1dvh;
  border-radius: 100px;
}

.siteMenu{
  position: sticky;
  display:flex;
}
.siteMenu button{
  flex:auto;
  cursor:pointer;
  background-color: rgb(233, 181, 49);
  color: rgb(0, 0, 0);
  border-bottom: rgb(129, 100, 25);
}

.forSalePreview{
  flex:auto;
  height: 100%;
  color:rgb(233, 181, 49);
}
.forumPreview{
  flex:auto;
  border-right: 2px rgb(129, 100, 25);
  height:100%;
  color:rgb(233, 181, 49);
}

/* Login Page Styles */
.login-body {
  background-color: rgb(80, 46, 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.login-body .siteName {
  display: inline-block;
  color:rgb(255, 255, 255);
  background-color: rgb(233, 181, 49);
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  width: 300px;
}

.login-box {
  background-color: rgb(233, 181, 49);
  color: black;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-box input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 90%;
  border: 1px solid rgb(129, 100, 25);
  border-radius: 5px;
}

.login-box button {
  background-color: rgb(80, 46, 3);
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.login-box button:hover {
  background-color: rgb(60, 34, 3);
}

.login-box a {
  color: rgb(80, 46, 3);
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}

/*.FPItem{

}
.FSPItem{

}*/ /*These two are going to be generated items pulled from the database */